body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f7f7f7;
}

h1 {
  text-align: center;
  margin: 16px 0;
}

#map-container {
  width: 100%;
  height: calc(100vh - 80px);
}

#metro-map {
  width: 100%;
  height: 100%;
}
