body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
}

h1 {
  text-align: center;
  margin: 12px 0;
}

#app {
  display: flex;
  height: calc(100vh - 60px);
}

/* Левая панель */
#sidebar {
  width: 320px;
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 16px;
  box-sizing: border-box;
}

/* Правая часть */
#map-container {
  flex: 1;
  display: flex;
  justify-content: flex-start; /* сдвиг влево */
  align-items: center;
  padding-left: 24px;
}

/* SVG */
#metro-map {
  width: 85%;
  height: 95%;
  pointer-events: auto;
}

#metro-map svg {
  pointer-events: auto;
}

#metro-map svg * {
  pointer-events: all;
}
