body {
  margin: 0;
  font-family: sans-serif;
}

#app {
  display: flex;
  height: calc(100vh - 160px);
}

/* БОКОВАЯ ПАНЕЛЬ */
#sidebar {
  width: 320px;
  padding: 20px;
  background: #f5f5f5;
  overflow-y: auto;
}

/* КОНТЕЙНЕР КАРТЫ */
#map-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #e9efe9;
}

/* VIEWPORT */
#map-viewport {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SVG */
#metro-map {
  width: 100%;
  height: 100%;
  max-width: 1200px;
}

/* MOBILE */
@media (max-width: 900px) {
  #app {
    flex-direction: column;
  }

  #sidebar {
    width: 100%;
    height: 50vh;
  }

  #map-container {
    height: 50vh;
  }
}
